@tailwind base;
@layer base {
  @font-face {
    font-family: 'ABC Monument Grotesk';
    src: url('/fonts/ABCMonumentGrotesk-Light.woff2');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'ABC Monument Grotesk';
    src: url('/fonts/ABCMonumentGrotesk-Regular.woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'ABC Monument Grotesk';
    src: url('/fonts/ABCMonumentGrotesk-Medium.woff2');
    font-weight: 500;
    font-style: normal;
  }
}@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}